[Journal]
SystemMaxUse={{ security_journal_system_max_use }}
RuntimeMaxUse={{ security_journal_runtime_max_use }}
MaxRetentionSec={{ security_journal_max_retention }}
RateLimitIntervalSec=30s
RateLimitBurst=1000
