# Управляется Ansible. Полный sudo требует пароль пользователя.
Defaults:{{ security_admin_user }} env_reset,use_pty,secure_path="/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
{{ security_admin_user }} ALL=(root) NOPASSWD: {{ security_admin_command_path }} *
{% if runtime_secrets_enabled | default(false) | bool %}
{{ security_admin_user }} ALL=(root) NOPASSWD: {{ security_runtime_secrets_export_path }} get-share {{ runtime_secrets_cluster_id }}
{% endif %}
