# Управляется Ansible. Private keys должны находиться за пределами репозитория.
{% for host_key_path in security_ssh_host_key_paths %}
HostKey {{ host_key_path }}
{% endfor %}
Port {{ ssh_listen_port }}
{% if (security_allow_ssh_port_change | bool) and ((ansible_port | default(22) | int) != (ssh_listen_port | int)) %}
# Временный listener двухэтапного перехода. После проверки обновите ansible_port.
Port {{ ansible_port | default(22) }}
{% endif %}
PasswordAuthentication {{ ssh_password_authentication | ternary('yes', 'no') }}
KbdInteractiveAuthentication no
PubkeyAuthentication yes
{% set managed_admin = security_admin_user if security_manage_admin_account | bool else ansible_user %}
{% set local_entry_automation = (awg_node_role == 'entry' and (ansible_connection | default('ssh')) == 'local') %}
{% set root_automation_required = (awg_node_role == 'exit' or not local_entry_automation) %}
{% set effective_root_login = 'no' if (security_manage_admin_account | bool and security_finalize_admin_access | bool and not root_automation_required) else ssh_root_login %}
PermitRootLogin {{ effective_root_login }}
PermitEmptyPasswords no
{% if security_manage_admin_account | bool and security_finalize_admin_access | bool and root_automation_required %}
AllowUsers {{ managed_admin }} root@{{ security_automation_source_ipv4 }}
{% elif security_manage_admin_account | bool and security_finalize_admin_access | bool %}
AllowUsers {{ managed_admin }}
{% elif security_manage_admin_account | bool %}
AllowUsers {{ managed_admin }} root{% if ansible_user not in [managed_admin, 'root'] %} {{ ansible_user }}{% endif %}
{% else %}
AllowUsers {{ managed_admin }}
{% endif %}
Banner none
DebianBanner no
X11Forwarding no
AllowAgentForwarding no
AllowTcpForwarding no
GatewayPorts no
PermitUserEnvironment no
PermitUserRC no
GSSAPIAuthentication no
UseDNS no
MaxAuthTries 3
LoginGraceTime 30
MaxStartups 10:30:60
