[defaults]
inventory = inventory/example/hosts.yml
roles_path = roles
retry_files_enabled = False
host_key_checking = True
interpreter_python = auto_silent
display_skipped_hosts = False
deprecation_warnings = True
fact_caching = jsonfile
fact_caching_connection = .ansible/facts
fact_caching_timeout = 3600

[privilege_escalation]
become = True
become_method = sudo

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
