[Unit]
After=ufw.service

[Service]
ExecStartPost=/bin/systemctl --no-block try-restart awg-local-peer-apply.service
ExecStartPost=/bin/sh -c 'test ! -x {{ entry_routing_reconcile_path | default('/usr/local/sbin/awg-entry-routing-reconcile') }} || {{ entry_routing_reconcile_path | default('/usr/local/sbin/awg-entry-routing-reconcile') }}'
