[Unit]
Description=Проверка credentials шаблонной AWG-службы

[Service]
Type=oneshot
LoadCredential=%i.conf:/etc/hosts
ExecStart=/bin/true %d/%i.conf
