[sshd]
enabled = true
backend = systemd
port = {{ ssh_listen_port }}
maxretry = {{ fail2ban_sshd.maxretry }}
findtime = {{ fail2ban_sshd.findtime }}
bantime = {{ fail2ban_sshd.bantime }}
bantime.increment = {{ fail2ban_sshd.bantime_increment | ternary('true', 'false') }}
bantime.factor = {{ fail2ban_sshd.bantime_factor }}
bantime.maxtime = {{ fail2ban_sshd.bantime_max }}
