[Interface]
PrivateKey = {{ vault_awg_entry_exit_private_key }}
Address = {{ entry_exit_tunnel_address }}
MTU = {{ entry_awg1_mtu }}
Table = off
Jc = {{ entry_awg1_obfuscation.jc }}
Jmin = {{ entry_awg1_obfuscation.jmin }}
Jmax = {{ entry_awg1_obfuscation.jmax }}
S1 = {{ entry_awg1_obfuscation.s1 }}
S2 = {{ entry_awg1_obfuscation.s2 }}
S3 = {{ entry_awg1_obfuscation.s3 }}
S4 = {{ entry_awg1_obfuscation.s4 }}
H1 = {{ entry_awg1_obfuscation.h1 }}
H2 = {{ entry_awg1_obfuscation.h2 }}
H3 = {{ entry_awg1_obfuscation.h3 }}
H4 = {{ entry_awg1_obfuscation.h4 }}
I1 = {{ entry_awg1_obfuscation.i1 }}

[Peer]
#_Name = exit
PublicKey = {{ vault_awg_entry_exit_peer_public_key }}
PresharedKey = {{ vault_awg_entry_exit_psk }}
AllowedIPs = {{ entry_exit_allowed_ips | join(', ') }}
Endpoint = {{ entry_exit_endpoint }}
PersistentKeepalive = {{ entry_exit_persistent_keepalive }}
