[Unit]
Requires={{ runtime_secrets_service_name }}
After={{ runtime_secrets_service_name }}

[Service]
LoadCredential=%i.conf:{{ runtime_secrets_runtime_root }}/amneziawg/%i.conf
ExecStart=
ExecStart=/usr/bin/awg-quick up %d/%i.conf
ExecStop=
ExecStop=/usr/bin/awg-quick down %d/%i.conf
