[Unit]
Requires={{ runtime_secrets_service_name }}
After={{ runtime_secrets_service_name }}

[Service]
LoadCredential=awg-mobile.conf:{{ runtime_secrets_runtime_root }}/amneziawg-v3/{{ entry_mobile_client_interface | default('awg-mobile') }}.conf
