[Unit]
Requires={{ runtime_secrets_service_name }}
After={{ runtime_secrets_service_name }}

[Service]
LoadCredential=awg3.conf:{{ runtime_secrets_runtime_root }}/amneziawg-v3/{{ awg3_transit_interface | default('awg3') }}.conf
