[Unit]
Requires={{ runtime_secrets_service_name }}
After={{ runtime_secrets_service_name }}

[Service]
LoadCredential=front-backend.json:{{ runtime_secrets_runtime_root }}/sing-box/front-backend.json
ExecStart=
ExecStart=/usr/bin/sing-box -D /var/lib/sing-box-front -c %d/front-backend.json run

