#!/usr/bin/env bash
set -Eeuo pipefail
umask 077

[[ $# -eq 2 ]] || exit 64
[[ $1 == get-share && $2 == {{ runtime_secrets_cluster_id | quote }} ]] || exit 64
[[ -r {{ runtime_secrets_local_share_path | quote }} ]] || exit 66
exec /usr/bin/head -n 1 {{ runtime_secrets_local_share_path | quote }}
