[Unit]
Requires={{ runtime_secrets_service_name }}
After={{ runtime_secrets_service_name }}

[Service]
LoadCredential=config.json:{{ runtime_secrets_runtime_root }}/xray/config.json
ExecStart=
ExecStart={{ front_xray_binary_path | default('/usr/local/bin/xray') }} run -c %d/config.json

